.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

@media (min-width: 1280px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes animate-gradient-xy {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-xy {
  background-size: 200% 200%;
  animation: animate-gradient-xy 3s linear infinite;
}
